<nav id="navbar" class="navbar fixed-top navbar-expand-lg navbar-light  py-0 px-0">
        <div class="container-fluid">
          <a id="textlogo" class="navbar-brand text-white" href="/"><img src="/static/assets/img/logo.png" width="15%" class="png"> YoliDesings</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarScroll" aria-controls="navbarScroll" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarScroll">
            <ul class="navbar-nav ms-auto my-2 my-lg-0 navbar-nav-scroll" style="--bs-scroll-height: 100px;">
              {{#if inicio includeZero=true}}
              <li class="nav-item">
                <a class="nav-link active  text-white" aria-current="page" href="#inicio">INICIO</a>
              </li>
              <li class="nav-item">
                <a class="nav-link text-white" href="#destacados">PRODUCTOS</a>
              </li>
              <li class="nav-item">
                <a class="nav-link text-white" href="././login">PRESUPUESTO</a>
                </li>
              <li class="nav-item">
                    <a class="nav-link text-white " href="#contacto">CONTACTO</a>
              </li>              
              <li class="nav-item">
                <a class="nav-link text-white" href="././login">INGRESAR</a>
              </li>   
              {{/if}}  
              {{#if sesion includeZero=true}}
              <li class="nav-item dropdown">              
                <a class="nav-link dropdown-toggle text-white" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="margin: 50px;">
                      Bienvenido
                      </a>
                <div class="dropdown-menu" >
                  <a class="dropdown-item" onclick="irEditar()">Actualizar Datos</a>
                  <a class="dropdown-item" onclick="irListap()">Lista de Presupuestos</a>
                  <a class="dropdown-item" onclick="irSolicitudP()">Solicitud Presupuesto</a>
                  <a class="dropdown-item" onclick="salir()">Salir</a>  
                </div>
             </li>         
              {{/if}}
              {{#if admin includeZero=true}}
              <li class="nav-item dropdown">              
                <a class="nav-link dropdown-toggle text-white" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                      Bienvenido
                      </a>
                <div class="dropdown-menu" style="margin-left: -70px;">
                  <a class="dropdown-item" onclick="salir()">Salir</a>  
                </div>
             </li>         
              {{/if}}
              </ul>            
          </div>
        </div>
      </nav>


      <script>


$(document).ready(function () {        
    var rutTk;
    var tkn;
    const tokenTk= JSON.parse(localStorage.getItem('token'));  
    decTkn(tokenTk)   
  });   

  function decTkn(token){   
    const base64Url = token.split(".")[1];
    const base64 = base64Url.replace("-", "+").replace("_", "/");
    let tk= JSON.parse(window.atob(base64));
    tk = tk.data; 
    rutTk = tk.rut; 
    tkn = token;
  }
//Verificando Expiracion de Token.
function verificarSesion () {
  const token= JSON.parse(localStorage.getItem('token')); 
const base64Url = token.split(".")[1];
    const base64 = base64Url.replace("-", "+").replace("_", "/");
    let tkSesion= JSON.parse(window.atob(base64));

if (Date.now() >= (tkSesion.exp) * 1000) {
  alert("Sesión Expirada")
  salir();
}

}

  setInterval(function(){ 
    verificarSesion()
  }, 60000);



        function irListap(){ 
          window.location.href = `/cliente/presupuesto/lista?rut=${rutTk}`
        }

        function irEditar(){ 
          window.location.href = `/cliente/editar`
        }


        function salir(){
        localStorage.setItem('token', '')                
        window.location.href = "/";

        }

function irSolicitudP(){
   window.location.href = `/cliente/presupuesto?token=${tkn}`
}






      </script>