<footer id="footer" class="footer footer-fixed-top pb-2 px-0 text-end text-white py-2">
    <div class="row">
        <div id="textlogo" class="col-sm-4 "href="/">YoliDesings</div>
        <div class="col-sm-6 text-end">       
          <!-- Instagram -->
          <a
            class="btn btn-link btn-floating btn-lg text-white m-0 aling-center" data-bs-toggle="tooltip" data-bs-placement="top" color="white" title="instagram"
            href="https://www.instagram.com/yoli_desings/"><i class="fab fa-instagram"></i></a>
          <!-- facebook -->
          <a
            class="btn btn-link btn-floating btn-lg text-white m-0 aling-center" data-bs-toggle="tooltip" data-bs-placement="top" color="white" title="facebook"
            href="https://www.facebook.com/profile.php?id=100079943756747"><i class="fab fa-facebook"></i></a> 
          <!-- email -->  
          <a class="btn btn-floating btn-lg text-white m-0 aling-right" data-bs-toggle="tooltip" data-bs-placement="top" color="white" title="correo"><i class="fa-solid fa-square-envelope"></i> yolidesing8@gmail.com</a>
        </div>
    </div>      
</footer>