<!DOCTYPE html>
<html lang="es" dir="ltr">

{{> head}}

  <body>

{{> encabezado }}

<hr>

    <div class="py-4 ">
      <h2 class="text-center mx-5 my-5" >REGISTRO DE CLIENTE</h2>
      <hr class="w-50" style="margin: 2rem 335px;">
      <form id="formCreate" enctype="multipart/form-data" class="text-center">
        <div class="form-group row w-50 m-auto aling-center">
          <div class="form-group col-12 col-sm-6">
            <label>Email</label>
            <input  id="email" name="email" class="form-control m-auto" />
          </div>
          <div class="form-group col-12 col-sm-6">
            <label>Rut</label>
            <input  id="rut" name="rut" class="form-control m-auto" />
          </div>
          <div class="form-group col-12 col-sm-6">
            <label>Nombre</label>
            <input id="nombre" name="nombre" class="form-control m-auto" />
          </div>
          <div class="form-group col-12 col-sm-6">
            <label>Teléfono</label>
            <input id="telefono" name="telefono" class="form-control m-auto" />
          </div>
          <div class="form-group col-12 col-sm-6">
            <label>Password</label>
            <input type="password" id="password" name="password" class="form-control m-auto" />
          </div>
          <div class="form-group col-12 col-sm-6">
            <label>Repita la password</label>
            <input type="password" id="repita_password" name="repita_password" class="form-control m-auto" />
          </div>
          <div class="form-group col-12 col-sm-12 aling-center">
            <label>Dirección</label>
            <input id="direccion" name="direccion" class="form-control m-auto" />
          </div>
         
          
        </div>
        <button type="submit" class="btn btn-info mb-3 mx-5 my-5">Registrarme</button>
        <p><a href="/login"> Iniciar sesión</a></p>
      </form>
    </div>
  </body>
</html>


<script>


  $(document).ready(function () {    
    $("#formCreate").submit(async (e) => { 
      e.preventDefault();          
      let email = $("#email").val();
      let rut = $("#rut").val();
      let nombre = $("#nombre").val();
      let telefono = $("#telefono").val(); 
      let password = $("#password").val();
      let repitaPassword = $("#repita_password").val();
      let direccion = $("#direccion").val();

      var formData = new FormData();
      
      formData.append("rut", rut);
      formData.append("nombre", nombre);
      formData.append("email", email);      
      formData.append("password", password);
      formData.append("direccion", direccion);
      formData.append("telefono", telefono);

      if(validate()){      
       
        axios.post(`/clientes`, formData
          ).then((response) => {
            console.log(response);
            alert("Registrado.")
          }, (error) => {
            console.log(error);
            alert("Disculpe hubo un error registrando.")
          });
        }


    });

    function validate() {
        let password = $("#password").val();
      let repitaPassword = $("#repita_password").val();
        if (password != repitaPassword) {
            alert("Passwords no coinciden.");
            return false;
        }
        return true;
    }
  });
  </script>